<phpunit 	bootstrap="vendor/autoload.php"			
			colors="true"
			convertErrorsToExceptions="true"
			convertNoticesToExceptions="true"
			convertWarningsToExceptions="true"
			stopOnFailure="true">
			<testsuites>
				<testsuite name="Unit Tests">
					<directory>tests</directory>
				</testsuite>
			</testsuites>
			<testsuites>
				<testsuite name="Exceptions">
					<directory>tests/Exceptions</directory>
				</testsuite>
			</testsuites>
			<testsuites>
				<testsuite name="Utilities">
					<directory>tests/Utilities</directory>
				</testsuite>
			</testsuites>
			<testsuites>
				<testsuite name="Libraries">
					<directory>tests/Libraries</directory>
				</testsuite>
			</testsuites>
			<testsuites>
				<testsuite name="Traits">
					<directory>tests/Traits</directory>
				</testsuite>
			</testsuites>
			<testsuites>
				<testsuite name="Errors">
					<directory>tests/Errors</directory>
				</testsuite>
			</testsuites>
</phpunit>